@using Orchard.DynamicForms.Elements
@using Orchard.Layouts.Helpers

@{
    var element = (MediaLibraryUploadField)Model.Element;
    var tagBuilder = TagBuilderExtensions.CreateElementTagBuilder(Model);
    tagBuilder.Attributes["name"] = Model.ProcessedName;
}

@tagBuilder.ToHtmlString()

@if (element.ShowLabel)
{
    <label>
        @tagBuilder.ToHtmlString(TagRenderMode.SelfClosing)
        @Html.Raw(Model.ProcessedLabel)
    </label>
}
else
{
    @tagBuilder.ToHtmlString(TagRenderMode.SelfClosing)
}
<div>
    <input id="media-library-upload-field-MediaTest_MediaPickerField_Field_Ids" name="MediaLibraryUploadField-MediaTest-MediaPickerField[]" class="button media-library-upload-field" type="file" value="Browse" size="100" accept="*.*" />
</div>