@using Lombiq.Fields.Fields
@{
    var field = (MoneyField)Model.ContentField;
}<fieldset>
    <div>
        @if (!@string.IsNullOrEmpty(field.MoneyPart.Currency.Symbol))
        {
            @field.MoneyPart.Tostring()
        }
        else
        {
            @Html.Label(string.Format("{0} {1}", @field.Amount, @field.MoneyPart.Currency.Iso3LetterCode))
        }
    </div>
</fieldset>