@using Lombiq.Fields.Fields
@{
    var field = (MoneyField)Model.ContentField;
}<fieldset>
    <div>
        @if (!@String.IsNullOrEmpty(field.MoneyValue.Currency.Symbol))
        {
            @field.MoneyValue.ToString()
        }
        else
        {
            @Html.Label(string.Format("{0} {1}", @field.Amount, @field.MoneyValue.Currency.Iso3LetterCode))
        }
    </div>
</fieldset>